<html>
	<head>
		<title>Prank Caller</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<h1>Prank Caller</h1>

			{% if prank %}
			<div class="prank">
				<h2>{{ prank.title }}</h2>
				<p>{{ prank.content }}</p>
				<h5><span>{{ prank.status }}</span></h5>
			</div>
				{% if prank.status == 'Closed' %}
					<form id="submit-form" method=POST>
						<h3>New Prank?</h3>
						<input type="tel" placeholder="Phone number" name="phone-number" required>
						<textarea placeholder="Prank..." name="prank-text" required></textarea>
						<button type="submit">Submit</button>
					</form>
				{% endif %}

			{% else %}

				<form method=POST>
					<input type="tel" placeholder="Phone number" name="phone-number" required>
					<textarea placeholder="Prank..." name="prank-text" required></textarea>
					<button type="submit">Submit</button>
				</form>

			{% endif %}
		</div>
	</body>
</html>
